/* Start Mixin file */
            /*
** Prefixes Mixin
**Auto Add Prefixes To Properties
*/
            /*
** Animation Mixin
**Auto Add Prefixes To Animation
*/
/* End Mixin file */
/*Start global */
body {
  background-color: #f6f6f6; }
  body font {
    size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

ul,
ol {
  list-style: none;
  padding: 0; }

/*End global */
/*Start Variable*/
/*End Variable*/
/*Start grid*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.clearfix {
  clear: both; }

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

/*End grid*/
/*Start Header */
.header {
  padding: 20px 0;
  border-bottom: 1px solid #9c9c9c;
  overflow: hidden; }
  .header .logo {
    position: relative; }
    @media (min-width: 768px) {
      .header .logo {
        width: 100%;
        float: none;
        text-align: center; } }
    @media (min-width: 992px) {
      .header .logo {
        width: 30%;
        float: left;
        text-align: left; } }
    .header .logo h1 {
      margin-bottom: 0;
      margin-top: 10px; }
  .header .navbar {
    overflow: hidden;
    background-color: #e2494c;
    text-decoration: none;
    border-radius: 15px; }
    @media (min-width: 768px) {
      .header .navbar {
        width: 100%;
        float: none;
        margin-top: 30px;
        display: block !important; } }
    @media (min-width: 992px) {
      .header .navbar {
        width: 70%;
        float: left;
        margin-top: 1em; } }
    @media (max-width: 767px) {
      .header .navbar {
        display: none;
        border-radius: 0; } }
    .header .navbar li {
      width: 20%;
      float: left;
      font-size: 18px;
      text-align: center; }
      @media (max-width: 767px) {
        .header .navbar li {
          display: block;
          float: none;
          display: block;
          width: 100%;
          text-align: text-left;
          padding-left: 10px;
          padding-right: 10px; } }
      .header .navbar li a {
        display: block;
        padding: 20px 10px;
        color: #fff;
        text-decoration: none; }
        .header .navbar li a:hover {
          color: #9c9c9c; }

/*End Header */
/*Start Slider  /*home page*/
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: Tahoma ,Arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto; }
.slider img {
  width: 100%; }
.slider .bullets {
  text-align: center; }
  .slider .bullets li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #9c9c9c;
    border-radius: 50%;
    border: 2px solid #9c9c9c;
    cursor: pointer; }
    .slider .bullets li.active, .slider .bullets li:hover {
      background-color: #fff;
      border: 3px solid #333; }

/*End Slider */
/*Start Headings file */
.head-with-border {
  position: relative; }
  .head-with-border h2 {
    text-align: center;
    background-color: #e2494c;
    color: #fff;
    margin: 40px auto;
    border-radius: 15px;
    width: 400px;
    padding: 10px 15px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .head-with-border h2 {
        width: 300px; } }
    .head-with-border h2:before {
      content: '';
      width: 100%;
      height: 1.5px;
      background-color: #9c9c9c;
      left: 0;
      top: 50%;
      z-index: -1; }

/*End Heading */
/*Start Services homepage*/
@media (min-width: 992px) {
  .services .service-box {
    float: left;
    width: 33.3333333333%; }
    .services .service-box:not(:last-of-type) {
      padding-right: 20px; } }
@media (max-width: 767px) {
  .services .service-box i {
    display: block;
    margin-bottom: 15px; } }
.services .service-box .service-title {
  color: #666; }
.services .service-box i {
  font-size: 35px;
  position: relative;
  top: 4px; }
.services .service-box .service-desc {
  color: #777;
  line-height: 1.5; }
.services .service-box .link {
  color: #e2494c;
  text-decoration: none; }

/*End Services homepage*/
/*Start Players homepage*/
@media (min-width: 768px) {
  .players .player-box {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 40px; } }
@media (min-width: 992px) {
  .players .player-box {
    width: 33.3333333333%;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; } }
@media (min-width: 1200px) {
  .players .player-box {
    width: 20%; } }
@media (max-width: 767px) {
  .players .player-box {
    margin-bottom: 40px; } }
.players .player-box .player-title {
  color: #666;
  font-weight: normal; }
.players .player-box span {
  font-weight: bold; }
.players .player-box .player-desc {
  color: #777;
  line-height: 1.5; }
.players .player-box .link {
  color: #e2494c;
  text-decoration: none; }

/*End  Players homepage*/
/*Start Lorem Ipsm */
.lorem-ipsum .lorem-box {
  float: left;
  width: 31.3333333333%; }
  .lorem-ipsum .lorem-box:not(:last-of-type) {
    margin-right: 3%; }
  .lorem-ipsum .lorem-box .lorem-img {
    max-width: 100%; }

/*End Lorem Ipsm */
/*Start Footer */
.footer {
  background-color: #9c9c9c;
  overflow-x: hidden;
  padding-top: 30px;
  margin-top: 50px; }
  .footer .gallery, .footer .info, .footer .contact {
    float: left; }
  @media (min-width: 768px) {
    .footer .gallery {
      width: 100%; } }
  @media (min-width: 992px) {
    .footer .gallery {
      width: 50%; } }
  .footer .gallery .img-box {
    overflow: hidden;
    margin-bottom: 20px; }
    .footer .gallery .img-box img {
      width: 150px;
      height: 150px; }
      @media (min-width: 768px) {
        .footer .gallery .img-box img {
          float: left; } }
    @media (min-width: 768px) {
      .footer .gallery .img-box .text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
        width: calc(100% - 180px); } }
    .footer .gallery .img-box h4 {
      color: #e2494c;
      margin: 20px 0 0px; }
    .footer .gallery .img-box p {
      color: #888;
      line-height: 1.9;
      margin-top: 5px; }
  @media (min-width: 768px) {
    .footer .info {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer .info {
      width: 25%; } }
  .footer .info ul {
    color: #888;
    line-height: 1.8; }
    .footer .info ul li span {
      color: #e2494c; }
  .footer .info h4 {
    color: #888;
    font-weight: bold;
    margin-bottom: 0px; }
  .footer .info p {
    color: #888;
    margin-top: 8px; }
  @media (min-width: 768px) {
    .footer .contact {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer .contact {
      width: 25%; } }
  .footer .contact input[type="text"],
  .footer .contact input[type="email"],
  .footer .contact textarea {
    border: 1px solid #c9c9c9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%; }
  .footer .contact textarea {
    height: 140px; }
  .footer .section-title {
    color: #777;
    font-weight: normal; }
  .footer .copyright {
    padding: 15px 0;
    border-top: 1px solid #c5c5c5;
    overflow: hidden;
    color: #888;
    margin-top: 30px; }
    .footer .copyright .text, .footer .copyright .author {
      float: left;
      width: 50%; }
    .footer .copyright .author {
      text-align: right; }

/*End Footer */
/* Start Button */
.main-button {
  background-color: #e2494c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .main-button:hover {
    background-color: #e2494c; }

.the-toggler {
  background-color: #e2494c;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 15px;
  display: none; }
  @media (max-width: 767px) {
    .the-toggler {
      display: block; } }
  .the-toggler span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #fff; }
    .the-toggler span:not(:last-child) {
      margin-bottom: 5px; }

/* End Button */

/*# sourceMappingURL=scssfile.css.map */
