
/* Start Mixin file */
@mixin overlay {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            /*
** Prefixes Mixin
**Auto Add Prefixes To Properties
*/
            
            @mixin prefixer($property, $value, $prefixes: ()) {
                @each $prefix in $prefixes {
                    #{'-' + $prefix + '-' + $property}: $value;
                }
                #{$property}: $value;
            }
            /*
** Animation Mixin
**Auto Add Prefixes To Animation
*/
            
            @mixin keyFrame ($animation-name) {
                @-webkit-keyframes #{$animation-name} {
                    @content;
                }
                @-moz-keyframes #{$animation-name} {
                    @content;
                }
                @keyframes #{$animation-name} {
                    @content;
                }
            }


/* End Mixin file */
/*Start global */
body {
    background-color: #f6f6f6;
    font {
        size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

ul,
ol {
    list-style: none;
    padding: 0;
}
/*End global */
/*Start Variable*/

$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarg:"(min-width:1200px)";

$redColor: #e2494c;
$greyColor:#9c9c9c;
$float-left:left;
$float-right:right;
$text-right:right;
$text-left:left;

/*End Variable*/
/*Start grid*/
* {
    @include prefixer (box-sizing, border-box, webkit moz);
}

.container {
  
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
	position: relative;
	@media #{$minSmall}{
		width: 750px;
		
	}
	@media #{$minMedium}{
		width: 970px;
		
	}
	@media #{$minLarg}{
		width: 1170px;
		
	}
}
.clearfix{
	clear: both;
}
.text-center-xs {
	@media #{$maxMobile}{
		text-align: center;
		
	}
}
/*End grid*/


/*Start Header */

.header {
	padding: 20px 0;
	
	border-bottom:  1px solid $greyColor;
	overflow: hidden;
    .logo {
		position: relative;
		@media #{$minSmall}{
			width: 100%;
			float: none;
			text-align: center;
		}
			@media #{$minMedium}{
		 width: 30%;
        float: $float-left;
				text-align: $text-left;
		}
       
        h1 {
            margin-bottom: 0;
			margin-top: 10px;
        }
        p {}
    }
    .navbar {
		overflow: hidden;
       
        background-color: $redColor;
        text-decoration: none;
		border-radius: 15px;
		
			@media #{$minSmall}{
			width: 100%;
			float: none;
			margin-top: 30px;
				display: block !important;
		}
		@media #{$minMedium}{
		 width: 70%;
        float: $float-left;
			margin-top: 1em;
		}
		@media #{$maxMobile}{
		display: none;
			border-radius: 0;
		}
		
       
       
            li {
				width: 20%;
				float: $float-left;
				font-size :18px;
				text-align: center;
				@media #{$maxMobile}{
					display: block;
					float: none;
					display: block;
					width: 100%;
					text-align: text-left;
					padding-left: 10px;
					padding-right: 10px;
				}
                a {
					display: block;
					padding: 20px 10px;
                    color: #fff;
                    text-decoration: none;
					&:hover{
					color: $greyColor;
				}
                
				
            }
        }
    }
}

/*End Header */


/*Start Slider  /*home page*/
.slider {
blockquote {
	font:{
		size: 20px;
		style: italic;
	weight: bold;
		family: Tahoma ,Arial;
	}
	
	line-height: 1.7;
	text-align: center;
	
	color: #5e5e5e;
	
	width: 80%;
	margin: 30px auto;
}
	img {
		width: 100%;
		
	}
	.bullets {
		text-align: center;
		li{
			display: inline-block;
			width: 20px;
			height: 20px;
			background-color:$greyColor;
			border-radius: 50%;
			border: 2px solid $greyColor;
			cursor: pointer;
			&.active,
			&:hover{
				background-color: #fff;
				border: 3px solid #333;
			}
		}
	}

	
}
/*End Slider */
/*Start Headings file */
.head-with-border {
	position: relative;
	h2{
		text-align: center;
	background-color: $redColor;
	color: #fff;
	margin: 40px auto;
	border-radius: 15px;
	width: 400px;
	padding: 10px 15px;
		text-transform: uppercase;
		@media #{$maxMobile}{
			width: 300px;
		}
	&:before {
		content: '';
		width: 100%;
		height: 1.5px;
		background-color: $greyColor;
		left: 0;
		top: 50%;
		z-index: -1;
		
	}
	}
	
}




/*End Heading */
/*Start Services homepage*/

.services {
	.service-box {
	
		@media #{$minMedium}{
			float: $float-left;
			width: (100% / 3);
			&:not(:last-of-type){
			padding-right: 20px;
		}
		}
		@media #{$maxMobile}{

			i{
				display: block;
				margin-bottom: 15px;
			}
		}
		.service-title{
			color: #666;
		}
		i{
			font-size: 35px;
			position: relative;
			top: 4px;
			
		}
		.service-desc{
			color: #777;
			line-height: 1.5;
			
		}
		.link{
			color: $redColor;
			text-decoration: none;
			
		}
	}
}



/*End Services homepage*/
/*Start Players homepage*/

.players {
	.player-box {
	
		@media #{$minSmall}{
			float: $float-left;
			width: (100% /2);
			text-align: center; 
			margin-bottom: 40px;
		}
		@media #{$minMedium}{
			
			width: (100% /3);
		text-align: $text-left;
			margin-bottom: 40px;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media #{$minLarg}{
			
			width: (100% /5);
		
		}
		@media #{$maxMobile}{
			
			margin-bottom: 40px;
		
		}
		
		.player-title{
			color: #666;
			font-weight: normal;
		}
		span{
			font-weight: bold;
			
		}
		.player-desc{
			color: #777;
			line-height: 1.5;
			
		}
		.link{
			color: $redColor;
			text-decoration: none;
			
		}
	}
}



/*End  Players homepage*/
/*Start Lorem Ipsm */


.lorem-ipsum{
	.lorem-box{
		float:$float-left;
		width: (94% / 3);
		&:not(:last-of-type){
			margin-right: 3%;
		}
		.lorem-img {
			max-width: 100%
		}
		
	}
	
}
/*End Lorem Ipsm */

/*Start Footer */
.footer {
	
	background-color: $greyColor;
	overflow-x: hidden;
	padding-top: 30px;

	margin-top: 50px;
	.gallery, .info, .contact {
			float: $float-left;
		}
		.gallery {
			
			@media #{$minSmall}{
				width: 100%;
			}
				@media #{$minMedium}{
				width: 50%;
			}
			.img-box{
				overflow: hidden;
				margin-bottom: 20px;
				
				img{
					@media #{$minSmall}{
						float: $float-left;
					}
					width: 150px;
					height: 150px;
				}
				.text{
					@media #{$minSmall}{
						float: $float-left;
						margin-right: 15px;
					margin-left: 15px;
							width: calc(100% - 180px);
					}
					
				
				
				}
				h4{
					color:$redColor; 
					margin: 20px 0 0px;
				}
				p{
					color: #888;
					line-height: 1.9;
					margin-top: 5px;
					
				}
			}
		}
	.info{
		@media #{$minSmall}{
			width: 50%;
		}
		@media #{$minMedium}{
			width: 25%;
		}
	
		ul{
			color: #888;
			line-height: 1.8;
			li {
				span{
					color: $redColor;
					
				}
			}
			
		}
		h4{
			color: #888;
			font-weight: bold;
			margin-bottom: 0px;
		}
		p{
			color: #888;
			margin-top: 8px;
		}
	}
	.contact{
		@media #{$minSmall}{
			width: 50%;
		}
		@media #{$minMedium}{
			width: 25%;
		}
	
		input[type="text"],
		input[type="email"],
		textarea {
			border: 1px solid #c9c9c9;
			padding: 10px;
			margin-bottom: 5px;
			border-radius: 10px;
			width: 100%;
			
		}
		textarea {
			height: 140px;
		}
	}
	.section-title{
		color: #777;
		font-weight: normal;
		
	}
	.copyright {
		padding: 15px 0;
		border-top: 1px solid #c5c5c5;
		overflow: hidden;
		color: #888;
		margin-top: 30px;
		.text ,.author{
			float: $float-left;
			width: 50%;
			
			
		}
		.author{
			text-align: $text-right;
		}
	}
}



/*End Footer */

/* Start Button */
.main-button {
	background-color: $redColor;
	color: #fff;
	border:none;
	padding: 10px 15px;
	text-align: center;
	min-width: 120px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	&:hover {
		background-color: $redColor;
		
	}
}
.the-toggler{
	background-color: $redColor;
	border: none;
	padding: 8px;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 15px;
	display: none;
	@media #{$maxMobile}{
		display: block;
		
	}
	span {
		display: block;
		width: 50px;
		height: 4px;
		background-color: #fff;
		
		&:not(:last-child){
			margin-bottom: 5px;
		}
	}
	
}




/* End Button */